<div *ngIf="person" class=person-detail>
    <h2>Who is {{person.firstName}}?</h2>
    <ul class="list" style="list-style-type:none">
        <li>
            <h6>
                id:
            </h6>
            <h6>
                {{person.id}}
            </h6>
        </li>
        <li>
            <h6>
                Name:
            </h6>
            <h4>{{person.firstName}}</h4>
        </li>
        <li>
            <h6>
                Surname:
            </h6>
            <h4>{{person.lastName}}</h4>
        </li>
        <li>
            <h6>
                Age:
            </h6>
            <h4>{{person.age}}</h4>
        </li>
    </ul>

</div>