<h2>All Musicians</h2>

<ul class="musicians">
    <li *ngFor="let musician of musicians" [class.selected]="musician === selectedMusician" (click)="onSelect(musician)">
        <span class="badge">{{musician.id}}</span> {{musician.name}} {{musician.surname}}
    </li>
</ul>

<button (click)="fetchMusician()">Get Musicians</button>

<ul>
    <li *ngFor="let musician of musician$ | async"> {{musician.name}}</li>
</ul>

<app-musician-detail-component [musician]="selectedMusician"></app-musician-detail-component>